#img-control{
  max-width: 189px;
  text-align: justify;
  /* object-fit: scale-down;
  object-position: absolute; */

}

#img-control2{
  max-width: 210px;
  text-align: justify;
  /* object-fit: scale-down;
  object-position: absolute; */

}